.welcome-page {
  margin-top: -120px;
  background: #fff;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.07);
  position: relative;
  border-radius: 40px;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.welcome-page button{
  font-size: 18px;
  padding: 10px 25px;
  background-color: #b83290;
  border-radius: 10px;
  border: 1px solid #b83290;
  color: #fff !important;
  transition: all ease .3;
}

.welcome-page button:hover{
  background-color: #fff;
  color: #b83290 !important;
  border: 1px solid #b83290;
}

.intro-welcome{
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 500px) {
  .welcome-page{
    border-radius: 20px;
  }
}

/* @media (max-width: 1400px) {
  .intro-welcome{
    width: 70em;
  }
} 

@media (max-width: 1200px) {
  .intro-welcome{
    width: 60em;
  }
  .intro-welcome p{
    font-size: 20px !important;
  }
}

@media (max-width: 1000px) {
  .intro-welcome{
    width: 50em;
  }
  .intro-welcome p{
    font-size: 16px !important;
  }
  .welcome-page button{
    padding: 10px 20px !important;
    font-size: 18px !important;
  }
}

@media (max-width: 820px) {
  .intro-welcome{
    width: 30em;
  }
}

@media (max-width: 520px) {
  .intro-welcome{
    width: 23em;
  }
  .welcome-page button{
    font-size: 14px !important;
  }
} */

